.root{
    color:red;
    -fx-background-color: black;
}
.equalButton{
    -fx-background-color: green;
}
.clearButton{
    -fx-background-color: red;

}
.backSpaceButton{
    -fx-background-color:purple;
}
